.card
  .container
    .row
      .col-sm-6
        img.img-responsive(src='../assets/images/nokia.jpg', alt='Avatar')
      .col-sm-6
        h4
          b Nokia 5100
        p This is recommended for you


