doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Stream-card
    // 0a. CSS
    link(rel='stylesheet', href='style.css')
    // 0a. JS
    script(src='//code.jquery.com/jquery-2.0.3.min.js')
    // online jquery.js
    script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.1.2/handlebars.min.js')
    // online handlebars.js
  body
    // 1. Data (json format!)
    script.
    #tag-gen-anchor
      | 
    script#tag-gen-stream-card(type='text/template').
          {{#Target}}
          <div class="wrapper stream">
                    <div class="card radius shadowDepth1" onclick="myFunction(this)">
                      <div class="card__image border-tlr-radius"><img src="../assets/images/phonehd.jpg" alt="image" class="border-tlr-radius"></div>
                      <div class="card__content card__padding">
                        <div class="card__meta"><a href="#">{{streamname}}</a>
                        </div>
                        <article class="tags">
                          {{#each tags}}
                              <h6><a href="#">{{this}}</a></h6>
                          {{/each}}
                        </article>
                        <button id="view-card" class="btn">View Cards</button>
                        <article class="card-names">
                            <ul>
                            {{#each cards}}
                               
                                <li class="inner-card card"> <a href="#">{{cardname}}</a></li>
                                
                            {{/each}}
                            </ul>
                        </article>
                      </div>
                    </div>
                </div>
          {{/Target}}
    script.
      var url_string = window.location.href; //window.location.href
      var url_str = new URL(url_string);
      var c = url_str.searchParams.get("streamid"); //958
      console.log("New C"+c);
      var user_id = sessionStorage.getItem("uname");
      //var base_url = 'http://127.0.0.1:5000/streams/neighbors?streamid=' + c + "&userid=" + user_id;
      var data_url = 'http://127.0.0.1:5000/streams/neighbors?streamid=163&userid=1';
      //console.log("New base url is" +base_url);
      
      var slingshot = function (url, tplId, anchor) {
      $.getJSON(url, function(data) {
      var template = $(tplId).html();
      var stone = Handlebars.compile(template)(data);
      $(anchor).append(stone);
      });
      }
      slingshot(data_url , '#tag-gen-stream-card', '#tag-gen-anchor'); // since url = 'data.json' , we can use both notations.
      function myFunction(e) {
          console.log("clicked");
          console.log(e);
          var one = $(e).find('.streamid').find('a').html();
          console.log(one);
          var url = "main.html"+ '?streamid='+ one;
          window.location.href = url;
      }
    





    




